<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>add_survey</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="/survey_list/">问卷调查</a></li>
        <li><a href="#">新增问卷</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle">
        <span>问卷信息</span>
    </div>
    <form action="/add_survey/" method="post"  class="col-md-6">
        {% csrf_token %}
        <ul class="forminfo">
            <li>{{ survey_form.title.label_tag }}{{ survey_form.title }}</li>
            <li>{{ survey_form.cls.label_tag }}{{ survey_form.cls }}</li>
            <li><input name="" type="submit"  value="保存" class="btn btn-primary"/></li>
        </ul>
    </form>

</div>
</body>
<script>

</script>
</html>
