<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>add_survey</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">问卷调查</a></li>
        <li><a href="#">新增问卷</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle">
        <span>问题列表</span>
        <input name="" type="button"  value="保存" class="pull-right btn btn-primary"/>
        <input name="" type="button"  value="添加" class="pull-right btn btn-success add_question" style="margin-right: 5px ">
    </div>
    <ul class="forminfo">
        <div class="question_box">
            <a class="del_question"><span class="glyphicon glyphicon-remove pull-right"></span></a>
            <li><label>问题：</label><input name="" type="text" placeholder="请输入问题名称" class="dfinput"/></li>
            <li>
                <label>类型：</label>
                <select name="" id="" class="dfinput">
                    <option value="">打分（1~10分）</option>
                    <option value="">单选</option>
                    <option value="">建议</option>
                </select>
            </li>
            <hr>
        </div>

    </ul>

{#    <ul class="forminfo">#}
{#        <li><label>文章标题</label><input name="" type="text" class="dfinput"/><i>标题不能超过30个字符</i></li>#}
{#        <li><label>关键字</label><input name="" type="text" class="dfinput"/><i>多个关键字用,隔开</i></li>#}
{#        <li><label>是否审核</label><cite><input name="" type="radio" value=""#}
{#                                            checked="checked"/>是&nbsp;&nbsp;&nbsp;&nbsp;<input name="" type="radio"#}
{#                                                                                               value=""/>否</cite></li>#}
{#        <li><label>引用地址</label><input name="" type="text" class="dfinput" value="http://www..com/html/uidesign/"/></li>#}
{#        <li><label>文章内容</label><textarea name="" cols="" rows="" class="textinput"></textarea></li>#}
{#        <li><label>&nbsp;</label><input name="" type="button" class="btn" value="确认保存"/></li>#}
{#    </ul>#}


</div>
</body>
<script>
    $(function () {
        $(".add_question").click(function () {
            var a_str = '<a class="del_question"><span class="glyphicon glyphicon-remove pull-right"></span></a>'
            var name = '<li><label>问题：</label><input name="" type="text" placeholder="请输入问题名称" class="dfinput"/></li>'
            var type = '<li><label>类型：</label><select name="" id="" class="dfinput"><option value="">打分（1~10分）</option><option value="">单选</option> <option value="">建议</option> </select> </li>'
            var html_str = '<div class="question_box">'+a_str+name+type+'<hr></div>'
            $(".forminfo").append(html_str)
        });

        $(".forminfo").on('click',".del_question",function () {
            $(this).parent().remove()
        });

        $(".forminfo").on('change',".del_question",function () {
            $(this).parent().remove()
        });




    })

</script>
</html>
